html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body a{
    text-decoration:none;
}

.MenuItem{
  padding:23px;
  border-radius:60px;
  background-color: aqua;
  margin:10px;
  width:120px;
  height:120px;
  cursor:pointer;
}

.WebFooter{
    background-color:rgb(36, 36, 36);
}

.MenuItem:hover {
    background-color: rgb(0, 107, 177);
    transition: 300ms all;
}

.MainFormProduc{
    margin: 0 auto;
}

.formView {
    width: 65%;
    padding:30px;
    margin: 0 auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.MenuIcon {
    width: 40px;
    height: 40px;
}