html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.MenuItem{
  padding:23px;
  border-radius:60px;
  background-color: aqua;
  margin:10px;
  width:120px;
  height:120px;
  cursor:pointer;
}

.WebFooter{
    background-color:rgb(36, 36, 36);
}

.MenuItem:hover {
    background-color: rgb(113, 124, 251);
    transition: 300ms all;
}

.MenuIcon{
   width:40px;
   height:40px;
}