
@{
    @model List<InformeLote>;

    <section class="align-items-center align-content-center MainFormProduc">
        <h2>Faltantes de inventario</h2>
       @if(Model.Count>0){
        <table class=" rounded-table table table-striped">
            <thead class="theadLocal bg-dark bg-gradient">
                <tr>
                    <th class="bg-dark" scope="col">Numero de lote</th>
                    <th class="bg-dark" scope="col">Producto</th>
                    <th class="bg-dark" scope="col">Cantidad en bodega</th>
                </tr>
            </thead>
            <tbody id="TableInventoryBody">
            @foreach(var faltante in Model){
                <tr>
                    <th scope="col">@faltante.Lote</th>
                    <th  scope="col">@faltante.Producto</th>
                    <th  scope="col">@faltante.Cantidad</th>
                </tr>
                }
            </tbody>
            </table>
        }
        else
        {
            <section class="d-flex justify-content-center align-items-center vh-100">
            <h2 class="p-5 text-dark">No se registran faltantes!</h2>
            </section>
        }
    </section>
}
